.env
*.db
*db-shm
*db-wal
*.log
data/
docs/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

#executable
farmers_backend